{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Вакансии" %}{% endblock title %}
{% block static %}
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/scroll_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/media_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/custom_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/background_styles.css' %}">
<style>
    .main-text-header {
        font-size:50px; 
        line-height:60px; 
        color: white
      }
      
    @media (max-width: 767px) {
    .main-text-header {
        font-size:40px; 
        line-height:50px; 
    }
    }
</style>

{% endblock static %}


{% block image_wrapper %}
{% endblock image_wrapper %}

{% block content_wrapper %}
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-md-3 order-md-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#" class="custom-title-link"><i class="fa-regular fa-filters" style="color: #0a58ca;"></i> {% translate "Фильтр"%}</a>
                    </h5>
                    <form method='get' action="{% url 'vacancy:list' %}#search_results_link" id="filterForm">
                        
                        <label for="location"> <i class="fa-regular fa-location-dot " style="color: #0a58ca;"></i> <strong>{% translate "Регион:"%}</strong></label>
                        <div class="scroll-container" id="location">
                            {% for state in states %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check{{state.id}}loc" name="location" value="{{state.id}}" {% if state.id in selected_states %}checked{% endif %}>
                                <label class="form-check-label">{{state.name}}</label>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <label for="sex"><i class="fa-regular fa-user-group" style="color: #0a58ca;"></i> <strong>{% translate "Пол:"%}</strong></label>
                        <div class="scroll-container" id="sex">
                            {% for sex in sexes %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check{{sex.id}}sex" name="sex" value="{{sex.id}}" {% if sex.id in selected_sexes %}checked{% endif %}>
                                <label class="form-check-label">{{sex.name}}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <label for="language"> <i class="far fa-comments" style="color: #0a58ca;"></i> <strong>{% trans "Язык общения:" %}</strong></label>
                        <div class="scroll-container" id="language">
                            {% for language in languages %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check{{language.id}}lang" name="language" value="{{language.id}}" {% if language.id in selected_languages %}checked{% endif %}>
                                <label class="form-check-label">{{language.name}}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <label for="with_experience"><i class="far fa-helmet-safety" style="color: #0a58ca;"></i> <strong>{% translate "Опыт работы:"%}</strong></label>
                        <div class="scroll-container" id="with_experience">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="check1with_experience" name="with_experience" value="1" {% if 1 in selected_with_experience %}checked{% endif %}>
                                <label class="form-check-label">{% translate "C опытом работы"%}</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="check2with_experience" name="with_experience" value="2" {% if 2 in selected_with_experience %}checked{% endif %}{% if selected_with_experience|length < 1 %}checked{% endif %}>
                                <label class="form-check-label">{% translate "Без опыта работы"%}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-md-6 col-sm-12 mt-2'>
                                <button type="submit" class="btn btn-primary w-100">{% translate "Подтвердить"%}</button>
                            </div>
                            <div class='col-md-6 col-sm-12 mt-2'>
                                <button type="submit" class="btn btn-outline-secondary w-100" id="clearButton" name='clear' value='1'>{% translate "Очистить"%}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9 order-md-2 mt-2">
            <div class='container'>
                <h4 id='search_results_link' >{% translate "Результаты поиска"%}</h4>
                <div class="card-group">
                    <div class="row w-100">
                      {% for vacancy in vacancies %}
                      <div class="col-md-5 col-12 col-sm-8 col-lg-4 mt-2">
                        <div class="card h-100" style="opacity: {% if vacancy.irrelevant %}0.7{% else %}1.0{% endif %};">
                            <img src="{{vacancy.card_photo.file_thumbnail_list.url}}" class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">
                                    <a href="{% url 'vacancy:item' pk=vacancy.pk %}" class="custom-title-link">{{ vacancy.name }}</a>
                                    {% if vacancy.irrelevant %}
                                        <span class="float-end" style='color: red;'>{% translate "Не актуально"%}</span>
                                    {% endif %}
                                </h5>                                
                                <div class="d-flex flex-column justify-content-between flex-grow-1">
                                    <div>
                                        <div class="card-text"><i class="bi bi-geo-alt custom-salary"></i> {{vacancy.state}}, {{vacancy.city}}</div>
                                    </div>
                                    <div>
                                        <div class="card-text"><i class="bi bi-person"></i> {{ vacancy.required_people_count }}</div>
                                    </div>
                                    <div class="custom-card-footer mt-4 d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                                        <div class="custom-salary"><i class="bi bi-cash-coin"></i> {{ vacancy.get_salary_text_for_vacancy_list }}</div>
                                        <a href="{% url 'vacancy:item' pk=vacancy.pk %}" class="btn btn-outline-dark mt-2">{% translate "Подробнее"%}</a>
                                    </div>
                                </div>
                            </div>  
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_wrapper %}
